@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');


:root {
    --pink: hsl(322, 100%, 66%);
    --veryPaleCyan: hsl(193, 100%, 96%);
    --veryDarkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

.container {
    max-width: 100%;
    position: relative;
}

main {
    padding: 2rem 1rem;
    background-image: url('./images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--veryPaleCyan);
    text-align: center;
}

main .nav {
    /* outline: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.huddle-div{
    /* outline: 1px solid red; */
    width: 100px;
    display: flex;
    align-items: center;
}

.huddle-div img {
    max-width: 100%;
}

.nav .btn{
   padding: 0.3rem 1.7rem;
   border-radius: 1rem;
   border: none;
   font-family: 'Poppins', sans-serif;
   background-color: #fff;
   box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.1);
   cursor: pointer;
   color: var(--veryDarkCyan);
}

main .hero-text {
    /* outline: 1px solid black; */
    padding: 0 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.hero-text h1 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.2rem;
    color: var(--veryDarkCyan);
}

.hero-text p {
    font-size: 0.95rem;
    line-height: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--veryDarkCyan);
}

.btn2 {
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--pink);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    box-shadow: 1px 1px 6px 1px hsla(322, 100%, 66%, 50%);
    cursor: pointer;
    margin-bottom: 3rem;
    transition: background 0.3s ease;
}

.btn2:hover {
    background-color: hsla(322, 100%, 66%, 80%); 
}

main .img-mockup {
    max-width: 100%;
    padding: 0 1.8rem;
}

.content {
    padding: 4rem 1rem 12rem 1rem; 
}

.content .box {
    /* outline: 1px solid black; */
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.1);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.box .img-div {
    max-width: 250px;
    margin: 1.6rem auto 3rem auto;
}

.img-div img {
    max-width: 100%;
}

.box h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--veryDarkCyan);
    margin-bottom: 1.2rem;
    font-size: 1.25rem;
}

.box p {
    color: var(--grayishBlue);
    font-family: 'Open Sans', sans-serif;
    font-size: .96rem;
}

.footer {
    outline: 1px solid black;
    padding: 8rem 1rem 2rem 1rem;
    background-color: var(--veryDarkCyan);
}

.huddle-div2{
    /* outline: 1px solid red; */
    width: 170px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.info {
    display: flex;
    margin-bottom: 1rem;
}

.icon-div {
    /* outline: 1px solid red; */
    margin-right: 1.8rem;
    display: inline;
    align-items: center;
}

.info-phone .icon-div  {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}

.info-email .icon-div  {
    margin-right: 1.4rem;
    display: flex;
    align-items: center;
}

.info p {
    /* outline: 1px solid white; */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.info-location img {
    margin-top: 0.4rem;
}


.links {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}

.links a:hover {
    text-decoration: underline;
}

.socmed {
    /* outline: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0 1.8rem 0;
}

.socmed a {
    outline: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
}

.socmed a i {
    font-size: 1.2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.socmed a:hover  {
    outline: 1px solid var(--pink);
}

.socmed a:hover i {
    color: var(--pink);
}

.cpyright-div {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}    

.community {
    padding: 3rem 1.4rem;
    text-align: center;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.1);
    border-radius: 1rem;
    position: absolute;
    width: 95%;
    bottom: 16%;
    left: 50%;
    transform: translate(-50%, -16%);
    background-color: #fff;
    margin-bottom: 14rem;
}

.community h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--veryDarkCyan);
    margin-bottom: 1.5rem;
}

.community .btn2 {
    margin-bottom: 0;
}
.community .btn2:hover {
    background-color: hsla(322, 100%, 66%, 70%);
}

@media (min-width: 420px) {
    .community {
        bottom: 15%;
        transform: translate(-50%, -15%);
    }
}

@media (min-width: 540px) {
    .community {
        bottom: 14.5%;
        transform: translate(-50%, -14.5%);
    }
}

@media (min-width: 900px) {
    main {
        padding: 2rem 2rem;
        text-align: left;
    }

    .herotext-btn-img {
        display: flex;
        align-items: center;
    }

    .herotext-btn-img > * {
        /* outline: 1px solid black; */
        flex-basis: 50%;
    }
    
    .img-mockup {
        width: 350px;
        margin-left: 2rem;
    }

    main .hero-text {
        text-align: left;
        margin-top: 4rem;
        padding: 0;
    }

    .content .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .box > * {
        flex-basis: 50%;
    }

    .box .img-div {
        max-width: 300px;
    }

    .box2 .img-div {
        order: 2;
    }

    .community { 
        width: 50%;
        bottom: 24%;
        transform: translate(-50%, -24%);
        margin-bottom: 0;
    }

    .info-location p {
        padding-right: 10rem;
    }
}